<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<div class="head">
<body>

	<h1>Welcome GET FRESH <br><a href "/home/edit/><%=uname%></a></br></h1>
	

	<a href="/home/add">Add User</a> | 
	<a href="/home/user_list">User List</a>
   <a href="/home/edit/<%= usl %>">Edit</a> | 
	<a href="/logout">Logout</a>
	 </div class="head">
 	<div class="h6">
	<table align="center">
	
	
	    <tr>
			
			<td>Serial:</td>
			<td><%= usl%></td>
			
		</tr>
		<tr>
			
			<td>Username:</td>
			<td><%= uname %></td>
			
		</tr>

		

		<tr>
			
			<td>password:</td>
			<td><%= upass %></td>
			
		</tr>
		
		<tr>
			
			<td>DOB:</td>
			<td><%= udob %></td>
			
		</tr>
		<tr>
			
			<td>Email:</td>
			<td><%= umail %></td>
			
		</tr>

		
	</table>
	</div class="h6">
	

</body>
</html>