<!DOCTYPE html></html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form method="post">
                <table align="center" border="1px" width="100%">
                    <tr>
                        <th>
                            ID 
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Approve
                        </th>
                        <th colspan="2">
                            Operations
                        </th>
                    </tr>
                    <% for(var i=0; i < productlist.length; i++){ %>
                    <tr>
                        <td>
                            <%= productlist[i].id %>
                        </td>
                        <td>
                            <%= productlist[i].name %>
                        </td>
                        <td>
                            <%= productlist[i].description %>
                        </td>
                        <td>
                            <%= productlist[i].price %>
                        </td>
                        <td>
                        
                            <% if(productlist[i].approved) { %>
                                  <p>approved</p>  
                            <% }
                            else {%>
                            <p>Panding</p>
                            <%}%>
                        </td>
                        <td>
                            <a href="/supplier/edit/<%= productlist[i].id %>">Edit</a> | 
                            <a href="/supplier/delete/<%= productlist[i].id%>">Delete</a>
                        </td>
                    </tr>
                    <% } %>                 
                </table>
                <br/><br/>
                <div align="center">
                    <input type="button" onclick="location.href='/supplier'" value="Back">
                </div>
            </form>
    </body>
<html>